VITE_SUPABASE_URL=https://vwpicgtqgblsplliyrun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3cGljZ3RxZ2Jsc3BsbGl5cnVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkwODA4NTMsImV4cCI6MjAyNDY1Njg1M30.KUl1FE7irN00oiW2NjbtbOvAiC1JjBKkdiEqc5HLAzU