.signInWrapper{
     
    height:100vh;
}

.signInImage{
    padding-top: 5rem;
    display:flex;
    justify-content: center; 
}

.signInImage img{
   width:50%;
   border-radius: 15px;
    object-fit: contain;
}