@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Nunito:wght@500;700;800&display=swap');

/* font-family: 'Fira Sans', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Chakra Petch', sans-serif; */

:root {
	--primary: #191919;
	--secondary: #8910F1;
	--background: #FDFDFD;
	--navbar: #D9D9D9;
	--tertiary:#F63C7C;
	--text-heading: 'Nunito', sans-serif;
  --text-body: 'Fira Sans', sans-serif;
  --accent: #19181885;
	--muted: #7e7e7ea9;
	--border-radius: 8px;
	--border: rgba(52, 52, 52, 0.758);
	--border-light: rgba(255, 255, 255, 0.2);
	--danger: #c33333;
	--inter: 'Inter', sans-serif;
	--chakra: 'Chakra Petch', sans-serif;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: var(--text-body);
	background-color: var(--background);
	color: var(--primary);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: var(--border-light);
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
}