.footerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--muted);
    border-radius: 15px;
    margin: 2rem 12vw;
    color: var(--primary);
}

.footerWrapper .footerHeading{
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.footerHeading .footerName{
    font-size: 1.5rem;
    padding-bottom: 5rem;
    font-weight: 600;
    font-family: var(--text-heading);
}

.footerHeading .footerRights{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    font-weight: 600;
    font-family: var(--text-section);
    font-size: 0.8rem;
}

.footerWrapper .footerContent{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    gap:6rem;
}

.footerContent .footerLinks{
    display:flex;
    justify-content: space-between;
    gap:3rem;
    font-size: 0.8rem;
}



.footerLinks .footerAbout{
    display:flex;
    flex-direction: column;
    font-size: 0.4rem;
    font-weight: lighter;
    gap:1.5rem;
}
.footerLinks .footerAbout span:first-child{
    font-size: 1.2rem;
    gap:1.8rem;
    font-weight: 400;
}

 .footerConnection {
    display: flex;
    justify-content: start;
    gap:3rem;
    font-size: 1rem;
}