.buttonWrapper button{
    background-color: var(--secondary);
    font-weight: 600;
    color: var(--background);
    border-radius: 10px;
    padding:.8rem 1rem;
    border: 1px solid var(--secondary);
}

.buttonWrapper button:hover{
    background-color: var(--background);
    color: var(--secondary);
    cursor: pointer;
}